In [1]:
# from google.colab import drive
# drive.mount('/content/gdrive')
# import sys
# sys.path.append('/content/gdrive/My Drive/Colab Notebooks/10_nodes/data')

In [2]:
# df_homes = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/10_nodes/data/data_10_14_residual_cost.csv")
# df_homes1 = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/10_nodes/data/data_10_14_residual_cost_2.csv")
# df_homes2 = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/10_nodes/data/data_10_14_residual_cost_3.csv")

# pd.concat([df_homes, df_homes1, df_homes2]).to_csv('/content/gdrive/My Drive/Colab Notebooks/10_nodes/data/data_10_14_residual_cost.csv', index=False)

In [35]:
import random
import numpy as np
import csv
import pandas as pd
from YenAlgorithm import YenAlgorithm
from decimal import Decimal
weight_map={
	1:{2:None,5:None,8:None},
	2:{1:None,3:None},
	3:{2:None,4:None,8:None,9:None},
	4:{3:None,10:None},
	5:{1:None,6:None},
	6:{5:None,7:None,8:None,9:None},
	7:{6:None,10:None},
	8:{1:None,3:None,6:None},
	9:{3:None,6:None,10:None},
	10:{4:None,7:None,9:None}
}
# values = [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]
# values = [0,1,2,3,4,5,6,7,8,9,10]
values = [0,10,20,30,40,50,60,70,80,90,100]
vertices = [1,2,3,4,5,6,7,8,9,10]
edges = []
for node_1 in weight_map.keys():
    for node_2 in weight_map[node_1].keys():
        column_1 = (node_1,node_2)
        column_2 = (node_2,node_1)
        if column_1 not in edges and column_2 not in edges:
            edges.append(column_1)
cols=[]
for x in edges:
	strx = "X"+repr(x)
	cols.append(strx)
cols_Y = []
for i in range(1,5):
	for x in edges:
		strx = "Y"+str(i)+repr(x)
		cols.append(strx)
		cols_Y.append(strx)
df = pd.DataFrame(columns=cols)
for ii in range(200000):
	if ii%10000 == 0:
		print(ii)
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			if weight_map[node_2][node_1] != None:
				weight_map[node_1][node_2] = weight_map[node_2][node_1]
			else:
				r = np.random.choice(values)
				weight_map[node_1][node_2] = Decimal(str(r))
	data = {}
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			column = (node_1,node_2)
			x = "X"+repr(column)
			if x in cols:
				data[x] = weight_map[node_1][node_2]
	alg = YenAlgorithm(weight_map,vertices,1,10,4)
	paths_vertices = []
	paths_vertices, paths_edges, paths_length = alg.compute_shortest_paths()
	paths_links = []
	for i in range(4):
		for j in range(len(paths_vertices[i])-1):
			y_1 = "Y"+str(i+1)+repr((paths_vertices[i][j],paths_vertices[i][j+1]))
			y_2 = "Y"+str(i+1)+repr((paths_vertices[i][j+1],paths_vertices[i][j]))
			if y_1 in cols:
				paths_links.append(y_1)
			elif y_2 in cols:
				paths_links.append(y_2)
	for i in cols_Y:
		data[i]=0
	for i in paths_links:
		data[i] = 1
	df_new_row = pd.DataFrame([data])
	df = pd.concat([df,df_new_row], ignore_index=True)
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			weight_map[node_1][node_2] = None
df.to_csv('10_nodes_LU_100.csv',index=False)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000

In [32]:
import random
import numpy as np
import csv
import pandas as pd
from YenAlgorithm import YenAlgorithm
from decimal import Decimal
weight_map={
	1:{2:None,5:None,8:None},
	2:{1:None,3:None},
	3:{2:None,4:None,8:None,9:None},
	4:{3:None,10:None},
	5:{1:None,6:None},
	6:{5:None,7:None,8:None,9:None},
	7:{6:None,10:None},
	8:{1:None,3:None,6:None},
	9:{3:None,6:None,10:None},
	10:{4:None,7:None,9:None}
}
weight_map_2={
	1:{2:None,5:None,8:None},
	2:{1:None,3:None},
	3:{2:None,4:None,8:None,9:None},
	4:{3:None,10:None},
	5:{1:None,6:None},
	6:{5:None,7:None,8:None,9:None},
	7:{6:None,10:None},
	8:{1:None,3:None,6:None},
	9:{3:None,6:None,10:None},
	10:{4:None,7:None,9:None}
}
values = [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]
# values = [0,1,2,3,4,5,6,7,8,9,10]
# values = [0,10,20,30,40,50,60,70,80,90,100]
vertices = [1,2,3,4,5,6,7,8,9,10]
edges = []
for node_1 in weight_map.keys():
    for node_2 in weight_map[node_1].keys():
        column_1 = (node_1,node_2)
        column_2 = (node_2,node_1)
        if column_1 not in edges and column_2 not in edges:
            edges.append(column_1)
cols=[]
for x in edges:
	strx = "X"+repr(x)
	cols.append(strx)
cols_Y = []
for i in range(1,5):
	for x in edges:
		strx = "Y"+str(i)+repr(x)
		cols.append(strx)
		cols_Y.append(strx)
df = pd.DataFrame(columns=cols)
df_2 = pd.DataFrame(columns=cols)
for ii in range(2000):
	if ii%1000 == 0:
		print(ii)
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			if weight_map[node_2][node_1] != None:
				weight_map[node_1][node_2] = weight_map[node_2][node_1]
				weight_map_2[node_1][node_2] = weight_map_2[node_2][node_1]
			else:
				r = np.random.choice(values)
				weight_map[node_1][node_2] = Decimal(str(r))
# 				weight_map[node_1][node_2] = r
				weight_map_2[node_1][node_2] = int(10*r)
                
	data = {}
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			column = (node_1,node_2)
			x = "X"+repr(column)
			if x in cols:
				data[x] = weight_map[node_1][node_2]
	alg = YenAlgorithm(weight_map,vertices,1,10,4)
	paths_vertices = []
	paths_vertices, paths_edges, paths_length = alg.compute_shortest_paths()
	paths_links = []
	for i in range(4):
		for j in range(len(paths_vertices[i])-1):
			y_1 = "Y"+str(i+1)+repr((paths_vertices[i][j],paths_vertices[i][j+1]))
			y_2 = "Y"+str(i+1)+repr((paths_vertices[i][j+1],paths_vertices[i][j]))
			if y_1 in cols:
				paths_links.append(y_1)
			elif y_2 in cols:
				paths_links.append(y_2)
	for i in cols_Y:
		data[i]=0
	for i in paths_links:
		data[i] = 1
	df_new_row = pd.DataFrame([data])
	df = pd.concat([df,df_new_row], ignore_index=True)
    
	data = {}
	for node_1 in weight_map_2.keys():
		for node_2 in weight_map_2[node_1].keys():
			column = (node_1,node_2)
			x = "X"+repr(column)
			if x in cols:
				data[x] = weight_map_2[node_1][node_2]
	alg = YenAlgorithm(weight_map_2,vertices,1,10,4)
	paths_vertices = []
	paths_vertices, paths_edges, paths_length = alg.compute_shortest_paths()
	paths_links = []
	for i in range(4):
		for j in range(len(paths_vertices[i])-1):
			y_1 = "Y"+str(i+1)+repr((paths_vertices[i][j],paths_vertices[i][j+1]))
			y_2 = "Y"+str(i+1)+repr((paths_vertices[i][j+1],paths_vertices[i][j]))
			if y_1 in cols:
				paths_links.append(y_1)
			elif y_2 in cols:
				paths_links.append(y_2)
	for i in cols_Y:
		data[i]=0
	for i in paths_links:
		data[i] = 1
	df_new_row_2 = pd.DataFrame([data])
	df_2 = pd.concat([df_2,df_new_row_2], ignore_index=True)
    
	for node_1 in weight_map.keys():
		for node_2 in weight_map[node_1].keys():
			weight_map[node_1][node_2] = None
			weight_map_2[node_1][node_2] = None

0
1000

In [33]:
sum(df_2.iloc[:, 14:].values - df.iloc[:, 14:].values)

array([2, 1, -3, 2, -3, -8, -7, -3, 1, 5, 5, 1, 5, -2, 1, 4, -5, 1, -1, 1,
       3, -1, 4, -4, -10, -4, -4, 5, -4, -4, 8, -4, 7, 9, -8, 7, -4, -9,
       3, 2, -9, 2, 5, 2, -7, 5, -3, 0, 12, -3, 2, 8, -3, -9, 8, -5],
      dtype=object)

In [34]:
df_2.head()

,"X(1, 2)","X(1, 5)","X(1, 8)","X(2, 3)","X(3, 4)","X(3, 8)","X(3, 9)","X(4, 10)","X(5, 6)","X(6, 7)",...,"Y4(3, 4)","Y4(3, 8)","Y4(3, 9)","Y4(4, 10)","Y4(5, 6)","Y4(6, 7)","Y4(6, 8)","Y4(6, 9)","Y4(7, 10)","Y4(9, 10)"
0,2,8,10,9,1,3,8,9,4,2,...,1,1,0,1,0,0,0,0,0,0
1,9,3,1,8,10,2,0,4,8,9,...,1,0,1,1,0,0,1,1,0,0
2,9,6,3,5,1,9,7,4,4,10,...,1,1,0,1,0,0,0,0,0,0
3,7,8,4,4,7,4,5,5,7,6,...,0,0,0,0,0,1,1,0,1,0
4,9,1,2,1,10,5,2,10,4,8,...,0,0,0,0,1,1,0,0,1,0

In [35]:
df.head()

,"X(1, 2)","X(1, 5)","X(1, 8)","X(2, 3)","X(3, 4)","X(3, 8)","X(3, 9)","X(4, 10)","X(5, 6)","X(6, 7)",...,"Y4(3, 4)","Y4(3, 8)","Y4(3, 9)","Y4(4, 10)","Y4(5, 6)","Y4(6, 7)","Y4(6, 8)","Y4(6, 9)","Y4(7, 10)","Y4(9, 10)"
0,0.2,0.8,1.0,0.9,0.1,0.3,0.8,0.9,0.4,0.2,...,1,1,0,1,0,0,0,0,0,0
1,0.9,0.3,0.1,0.8,1.0,0.2,0.0,0.4,0.8,0.9,...,1,0,1,1,0,0,1,1,0,0
2,0.9,0.6,0.3,0.5,0.1,0.9,0.7,0.4,0.4,1.0,...,1,1,0,1,0,0,0,0,0,0
3,0.7,0.8,0.4,0.4,0.7,0.4,0.5,0.5,0.7,0.6,...,0,0,0,0,0,1,1,0,1,0
4,0.9,0.1,0.2,0.1,1.0,0.5,0.2,1.0,0.4,0.8,...,0,0,0,0,1,1,0,0,1,0